@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CatalogVue</h1>
    <p>Hi! I am Noor UL Ain, Final Year Computer Science Student. This EAD assignment is a comprehensive Product and Category Management System using static classes to store and manage everything.</p>
</div>
